 <html lang="en">
    <head></head>
    <body>

    	<!--Rental rooms-->
		<div>Url: <%= @rental.url %></div>
		<div>Destination: <%= @rental.destination %></div>
		<div>Owner Name: <%= @rental.ownername %></div>
		<div>Mobile Number: <%= @rental.mobilenumber %></div>
		<div>Bathrooms: <%= @rental.bathrooms %></div>
		<div>Rooms: <%= @rental.rooms %></div>

        <!--Check logged in-->
        <script type="text/javascript">
        (function() {
            if (typeof(Storage) !== "undefined") {
                if (sessionStorage.name) {
                } else {
                    window.location.href = "https://yallasahel.herokuapp.com";
                } 
            }
		})();
        </script>

    </body>
</html>