 <html lang="en">
    <head></head>
    <body>

        <!--Check logged in-->
        <script type="text/javascript">
        (function(){
            if (typeof(Storage) !== "undefined") {
                if (sessionStorage.name) {
                    document.getElementById("name").innerHtml = sessionStorage.name
                } else {
                    window.location.href = "https://yallasahel.herokuapp.com";
                } 
            }
        })();
        </script>

        <!--Name-->
        <div id="name"></div>

    	<!--Rental rooms-->
		<div>Url: <%= @rental.url %></div>
		<div>Destination: <%= @rental.destination %></div>
		<div>Owner Name: <%= @rental.ownername %></div>
		<div>Mobile Number: <%= @rental.mobilenumber %></div>
		<div>Bathrooms: <%= @rental.bathrooms %></div>
		<div>Rooms: <%= @rental.rooms %></div>
    </body>
</html>